.services-header {
  font-family: 'Abel';
  font-size: 24px;
  padding: 0 20px;
}

.pages-header {
  color: $my-red;
  letter-spacing: 4px;
  margin: 50px 0;
}

.services-separator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 70px 0;
  .services-separator {
    border-top: 1px solid $my-red;
    margin-bottom: 4px;
    opacity: 0.7;
    width: 70%;
  }
}


.items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .items {
    width: 50%;
    padding: 20px;
    .title {
      text-align: left;
      font-size: 36px;
      color: $my-red;
      margin-bottom: -6px;
    }
    .content {
      text-align: left;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .left-item {
      text-align: right;
    }
  }
}

@media (max-width: 768px) {
  .items-container {
    flex-direction: column;
    .items {
      width: 100%;
      .title {
        text-align: center;
      }
      .content {
        text-align: center;
      }
      .left-item {
        text-align: center;
      }
    }
  }
}


.reference-card {
  position: relative;
  height: 180px;
  background-size: cover;
  background-position: center;
  margin: 30px;
  border-radius: 2px;
  .card-title {
    position: absolute;
    top: 25px;
    left: 0;
    display: flex;
    align-items: center;
    background-color: rgba(60,60,60,0.9);
    color: white;
    font-size: 20px;
    padding: 8px;
    transition: 0.3s;
  }
  &:hover .card-title {
    top: 30px;
  }
}


.bottom-item {
  margin-bottom: 70px;
}


// @media (max-width: 768px) {
//   .services-header {
//     padding: 20px;
//   }
// }
