<footer>
  <div class="left-content">
    © EHCO - Siret : 512 515 651 00028 - Code APE : 7490B
    Emmanuelle Hébert - e.hebert@ehco-agence.com - +33 (0)6 60 91 18 07
  </div>
  <div class="right-content">
    <%= link_to "Facebook", "http://www.facebook.com" %>
  </div>
</footer>
